/* .canvas-style {
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
    background-color: #F1F1F1;
    width: 90%;
    max-width: 500px;
    height: auto;
  } */
  
  /* .canvas-style {
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
    background-color: #F1F1F1;
    width: 90%;
    max-width: 500px;
    height: 300px;
} */
